# YOLO 및 딥러닝 관련 패키지
torch
ultralytics

# 이미지 처리 관련
opencv-python
Pillow
rembg
numpy

# FastAPI 관련
fastapi
uvicorn
python-multipart
requests
onnxruntime

# 데이터 유효성 검사 및 모델링
pydantic
pydantic-settings

# 환경 변수 관리
python-dotenv
PyYAML

# Google Cloud Vision API
google-cloud-vision